
<div class="comment-top">
	<h4>Leave a Comment</h4>
	<div  class="comment-bottom">
		<form action="/Comment/PartialComment/" method="post">
			<input style="color: #333; background-color: #fff; border: 1px solid #ccc; font-size: 14px; " class="form-control" type="text" name="CommentUserName" placeholder="UserName" required="">
			<input style="color:#333; background-color: #fff; border:1px solid #ccc; font-size:14px" class="form-control" type="text" name="CommentTitle" placeholder="CommentTitle" required="">


			<textarea style="color:#333; background-color: #fff; border:1px solid #ccc; font-size:14px" class="form-control" name="CommentContent" placeholder="CommentContent..." required=""></textarea>
			<button type="submit" class="btn btn-primary submit">Submit</button>
		</form>
	</div>
</div>