
@{
    ViewData["Title"] = "BlogTitleListexcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListexcel</h1>

<a href="/Admin/Blog/ExportDynamicExcelblogList" class="btn btn-primary" onclick="">Download Excel List</a>